<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="car_rentalDBConnection"
         connectionString="Data Source=YOUR_SERVER_NAME\SQLEXPRESS;Initial Catalog=car_rentaldb;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>

</configuration>